@font-face {
    font-family: 'ClashDisplay-Light';
    src: url('./clash-display/ClashDisplay-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url('./clash-display/ClashDisplay-Semibold.ttf') format('truetype');
}


@font-face {
    font-family: 'ClashDisplay-Medium';
    src: url('./clash-display/ClashDisplay-Medium.ttf') format('truetype');
}


@font-face {
    font-family: 'ClashDisplay-Bold';
    src: url('./clash-display/ClashDisplay-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'DMSans-Bold';
    src: url('./dm-sans/DMSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'DMSans-BoldItalic';
    src: url('./dm-sans/DMSans-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'DMSans-Italic';
    src: url('./dm-sans/DMSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'DMSans-Medium';
    src: url('./dm-sans/DMSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'DMSans-MediumItalic';
    src: url('./dm-sans/DMSans-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'DMSans-Regular';
    src: url('./dm-sans/DMSans-Regular.ttf') format('truetype');
}